/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */
body {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	/* stylelint-disable */
	font-size: calc(1rem * var(--global-font-size) / 16);
	/* stylelint-enable */
	line-height: var(--global-font-line-height);
}

.mce-content-body,
p {
	font-size: inherit;
	line-height: inherit;
}

.editor-post-title__input,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--highlight-font-family);
	color: #32373c;
	clear: both;
}

/* stylelint-disable */
a {
	color: var(--color-link);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.editor-post-title__input {
	font-size: 2rem;
	line-height: 1.4;
}

/* Main column width */
.wp-block {
	max-width: calc(var(--content-width)rem + 30px);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: calc(50% + var(--content-width)rem / 2 + 76px);
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block-cover .wp-block-cover-text {
	color: #fff;
	font-size: 2em;
	line-height: 1.25;
}

.wp-block-latest-comments,
.wp-block-latest-posts {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

.wp-block-latest-comments {
	padding-right: 1.5em;
	padding-left: 1.5em;
}
