/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */
.block-editor-page .editor-styles-wrapper {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	/* stylelint-disable */
	font-size: calc(var(--global-font-size) / 16rem);
	/* stylelint-enable */
	line-height: var(--global-font-line-height);
}

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-family: var(--highlight-font-family);
	color: #32373c;
	clear: both;
}

.editor-post-title .editor-post-title__input {
	font-size: 2rem;
	line-height: 1.4;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover-text {
	color: #fff;
	font-size: 2em;
	line-height: 1.25;
}

.editor-styles-wrapper .wp-block-latest-comments,
.editor-styles-wrapper .wp-block-latest-posts {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

.editor-styles-wrapper .wp-block-latest-comments {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

/* Visualize editor color palette (defined in functions.php). */

.has-theme-primary-color,
.has-theme-primary-color a {
	color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
	background-color: var(--color-theme-primary);
}

.has-theme-secondary-color,
.has-theme-secondary-color a {
	color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
	background-color: var(--color-theme-secondary);
}

.has-theme-red-color,
.has-theme-red-color a {
	color: var(--color-theme-red);
}

.has-theme-red-background-color {
	background-color: var(--color-theme-red);
}

.has-theme-green-color,
.has-theme-green-color a {
	color: var(--color-theme-green);
}

.has-theme-green-background-color {
	background-color: var(--color-theme-green);
}

.has-theme-blue-color,
.has-theme-blue-color a {
	color: var(--color-theme-blue);
}

.has-theme-blue-background-color {
	background-color: var(--color-theme-blue);
}

.has-theme-yellow-color,
.has-theme-yellow-color a {
	color: var(--color-theme-yellow);
}

.has-theme-yellow-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-color,
.has-theme-black-color a {
	color: var(--color-theme-black);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
}

.has-theme-grey-color,
.has-theme-grey-color a {
	color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
	background-color: var(--color-theme-grey);
}

.has-theme-white-color,
.has-theme-white-color a {
	color: var(--color-theme-white);
}

.has-theme-white-background-color {
	background-color: var(--color-theme-white);
}

.has-custom-daylight-color,
.has-custom-daylight-color a {
	color: var(--color-custom-daylight);
}

.has-custom-daylight-background-color {
	background-color: var(--color-custom-daylight);
}

.has-custom-sun-color,
.has-custom-sun-color a {
	color: var(--color-custom-sun);
}

.has-custom-sun-background-color {
	background-color: var(--color-custom-sun);
}

/* Visualize editor font sizes (defined in functions.php). */

.has-small-font-size {
	/* stylelint-disable */
	font-size: calc(var(--font-size-small) / 16rem);
	/* stylelint-enable */
}

.has-regular-font-size {
	/* stylelint-disable */
	font-size: calc(var(--font-size-regular) / 16rem);
	/* stylelint-enable */
}

.has-large-font-size {
	/* stylelint-disable */
	font-size: calc(var(--font-size-large) / 16rem);
	/* stylelint-enable */
}

.has-larger-font-size {
	/* stylelint-disable */
	font-size: calc(var(--font-size-larger) / 16rem);
	/* stylelint-enable */
}
