# Default owners of everything in the repo:
* @robruiz

# Gulp owner:
gulpfile.babel.js @ataylorme
/gulp/ @ataylorme

# Tests owner:
.travis.yml @felixarntz
phpcs.xml.dist @felixarntz
phpunit.integration.xml.dist @felixarntz
phpunit.xml.dist @felixarntz
/tests/ @felixarntz
