@import "_custom-properties.css";

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.5em auto;
	padding: 0 1em;
}

.entry-content > .wp-block-quote,
.entry-content > .wp-block-quote.is-style-large {
	margin-left: 1.5rem;
}

@media (--content-query) {
	.entry-content > .wp-block-quote,
	.entry-content > .wp-block-quote.is-style-large {
		margin-left: auto;
	}
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: var(--color-quote-border);
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	border-left-color: var(--color-quote-citation);
}

.wp-block-cover {
	display: flex;
	align-items: center;
}

.wp-block-cover__inner-container > * {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover p {
	margin-top: 0;
}

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-gallery.nogap .blocks-gallery-grid .blocks-gallery-item {
	margin: 0;
}

.wp-block-gallery.smallgap .blocks-gallery-grid .blocks-gallery-item {
	margin: 0 0.5em 0.5em 0;
}

/* prettier-ignore */
.wp-block-gallery.columns-1.smallgap .blocks-gallery-grid .blocks-gallery-item {
	margin-right: 0;
}

/* stylelint-disable */
@media screen and (max-width: 600px) {
	/* prettier-ignore */
	.wp-block-gallery.columns-3.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2),
	.wp-block-gallery.columns-4.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2),
	.wp-block-gallery.columns-5.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2),
	.wp-block-gallery.columns-6.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2),
	.wp-block-gallery.columns-7.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2),
	.wp-block-gallery.columns-8.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2) {
		margin-right: 0;
	}
}
/* stylelint-enable */

/* prettier-ignore */
.wp-block-gallery.columns-2.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(2n + 2),
.wp-block-gallery.columns-2.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
	margin-right: 0;
}

/* stylelint-disable */
@media screen and (min-width: 600px) {
	/* prettier-ignore */
	.wp-block-gallery.columns-3.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(3n + 3),
	.wp-block-gallery.columns-3.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
		margin-right: 0;
	}

	/* prettier-ignore */
	.wp-block-gallery.columns-4.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(4n + 4),
	.wp-block-gallery.columns-4.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
		margin-right: 0;
	}

	/* prettier-ignore */
	.wp-block-gallery.columns-5.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(5n + 5),
	.wp-block-gallery.columns-5.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
		margin-right: 0;
	}

	/* prettier-ignore */
	.wp-block-gallery.columns-6.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(6n + 6),
	.wp-block-gallery.columns-6.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
		margin-right: 0;
	}

	/* prettier-ignore */
	.wp-block-gallery.columns-7.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(7n + 7),
	.wp-block-gallery.columns-7.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
		margin-right: 0;
	}

	/* prettier-ignore */
	.wp-block-gallery.columns-8.smallgap .blocks-gallery-grid .blocks-gallery-item:nth-child(8n + 8),
	.wp-block-gallery.columns-8.smallgap .blocks-gallery-grid .blocks-gallery-item:last-child {
		margin-right: 0;
	}
}
/* stylelint-enable */
