/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.site-info {
	text-align: center;
}
