/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}

@media (--content-query) {

	.primary-sidebar {
		padding-left: 0;
		padding-right: 0;
	}

}

@media (--sidebar-query) {

	.primary-sidebar {
		padding: 0;
	}
}
