# Ignore everything:
/*

# Whitelist what you want tracked:
!/.github/
!/dev/
!/css/
/css/*
!/css/src/*.css
!/css/src/*.scss
!/css/src/*.sass
!/languages/
!gulp/

!.babelrc
!composer.json
!composer.lock
!CONTRIBUTING.md
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.babel.js
!LICENSE
!package-lock.json
!package.json
!phpcs.xml.dist
!phpunit.integration.xml.dist
!phpunit.xml.dist
!README.md
!readme.txt
!screenshot.png
!.travis.yml
