# Ignore everything:
/*
!/.github/
!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/src/
!/assets/css/vendor/
!/assets/js/
/assets/js/*
!/assets/js/src/
!/assets/js/vendor/
!/assets/images/
/assets/images/*
!/assets/svg/
!/assets/svg/*
!/assets/images/src/
!/languages/
!gulp/
!style.css
!/*.php
!/inc/
!/template-parts/
!/config/
/config/config.local.json
!/tests/
!/optional/

!.babelrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.babel.js
!LICENSE
!package-lock.json
!package.json
!phpcs.xml.dist
!phpunit.integration.xml.dist
!phpunit.xml.dist
!README.md
!readme.txt
!screenshot.png
!.travis.yml
!.browserslistrc

*.DS_Store
