includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - .
    excludePaths:
        - vendor/
        - node_modules/
        - tests/
        - assets/
        - docs/
        - languages/
        - node/
        - optional/
        - scripts/
        - wp-cli/
