<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="dev/tests/phpunit/bootstrap-unit.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	syntaxCheck="false"
	verbose="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./dev/tests/phpunit/unit/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<file>./dev/functions.php</file>
			<directory>./dev/inc</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="dev/tests/_reports/clover-unit.xml"/>
		<log type="coverage-html" target="dev/tests/_reports/coverage-unit" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-php" target="dev/tests/_reports/coverage-unit.cov"/>
		<log type="junit" target="dev/tests/_reports/logfile-unit.xml"/>
	</logging>
</phpunit>
