<?php
/**
 * Title: {{title}}
 * Slug: {{slug}}
 * Categories: {{categories}}
 * Description: {{description}}
 * Keywords: {{keywords}}
 */
?>
<!-- wp:paragraph -->
<p>Hello world! This is the "{{title}}" pattern.</p>
<!-- /wp:paragraph -->
