<?php
/**
 * Title: {{title}}
 * Slug: {{slug}}
 * Categories: {{categories}}
 * Description: {{description}}
 * Keywords: {{keywords}}
 * Viewport Width: 1280
 * Text Domain: {{textdomain}}
 */
?>
<!-- wp:paragraph -->
<p>This is the "{{title}}" pattern. Replace this text with your own content.</p>
<!-- /wp:paragraph -->
