@import "_custom-properties.css";

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {

	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}


.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {

	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}
