/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */
 body.gutenberg-editor-page .editor-writing-flow {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	font-size: calc(var(--global-font-size) / 16)rem;
	line-height: var(--global-font-line-height);
}

body.gutenberg-editor-page .editor-post-title .editor-post-title__input,
body.gutenberg-editor-page .editor-writing-flow h1,
body.gutenberg-editor-page .editor-writing-flow h2,
body.gutenberg-editor-page .editor-writing-flow h3,
body.gutenberg-editor-page .editor-writing-flow h4,
body.gutenberg-editor-page .editor-writing-flow h5,
body.gutenberg-editor-page .editor-writing-flow h6,
body.gutenberg-editor-page .edit-post-visual-editor p {
	font-family: var(--highlight-font-family);
	color: #32373c;
	clear: both;
}

body.gutenberg-editor-page .editor-post-title .editor-post-title__input {
	font-size: 2rem;
	line-height: 1.4;
}

body.gutenberg-editor-page .edit-post-visual-editor p {
	font-family: var(--global-font-family);
	font-size: calc(var(--global-font-size) / 16)rem;

}

body.gutenberg-editor-page .wp-block-cover-image .wp-block-cover-image-text,
body.gutenberg-editor-page .wp-block-cover-image .wp-block-cover-image h2 {
	color: #fff;
	font-size: 2em;
	line-height: 1.25;
}

.editor-block-list__block ol.wp-block-latest-comments,
.editor-block-list__block ul.wp-block-latest-posts {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

.editor-block-list__block ol.wp-block-latest-comments {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

/* Visualize editor color palette (defined in functions.php). */

.has-dusty-orange-color,
.has-dusty-orange-color a {
	color: #ED8F5B;
}

.has-dusty-orange-background-color {
	background-color: #ED8F5B;
}

.has-dusty-red-color,
.has-dusty-red-color a {
	color: #E36D60;
}

.has-dusty-red-background-color {
	background-color: #E36D60;
}

.has-dusty-wine-color,
.has-dusty-wine-color a {
	color: #9C4368;
}

.has-dusty-wine-background-color {
	background-color: #9C4368;
}

.has-dark-sunset-color,
.has-dark-sunset-color a {
	color: #33223B;
}

.has-dark-sunset-background-color {
	background-color: #33223B;
}

.has-almost-black-color,
.has-almost-black-color a {
	color: #0A1C28;
}

.has-almost-black-background-color {
	background-color: #0A1C28;
}

.has-dusty-water-color,
.has-dusty-water-color a {
	color: #41848F;
}

.has-dusty-water-background-color {
	background-color: #41848F;
}

.has-dusty-sky-color,
.has-dusty-sky-color a {
	color: #72A7A3;
}

.has-dusty-sky-background-color {
	background-color: #72A7A3;
}

.has-dusty-daylight-color,
.has-dusty-daylight-color a {
	color: #97C0B7;
}

.has-dusty-daylight-background-color {
	background-color: #97C0B7;
}

.has-dusty-sun-color,
.has-dusty-sun-color a {
	color: #EEE9D1;
}

.has-dusty-sun-background-color {
	background-color: #EEE9D1;
}

/* Visualize editor font sizes (defined in functions.php). */

.has-small-font-size {
	font-size: calc(var(--small-font-size) / 16)rem;
}

.has-regular-font-size {
	font-size: calc(var(--regular-font-size) / 16)rem;
}

.has-large-font-size {
	font-size: calc(var(--large-font-size) / 16)rem;
}

.has-larger-font-size {
	font-size: calc(var(--larger-font-size) / 16)rem;
}
